.App {
  text-align: center;
}

.pagination {
  margin: 0;
  padding: 0;
  width: 600px;
  justify-content: space-between;
  list-style: none;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
}

.page-link {
  display: block;
  text-align: center;
  padding: 15px;
  font-weight: 700;
  color: #3AFF81;
  border: 3px solid #3AFF81;
}

.page-link:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #3AFF81;
}

.active .page-link {
  color: #ffffff;
  background-color: #3AFF81;
}

.break-me {
  display: block;
  text-align: center;
  padding: 15px;
  font-weight: 700;
  color: #3AFF81;
  border: 3px solid #3AFF81;
}

.break-me:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #3AFF81;
}
